 <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

          <h5 class="w3-opacity"><b>Web Developer at 710</b></h5>
           <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <h5> Working as a Tech Fee at Services for Students with Disabilities (SSD)</h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <h5>Microsoft Word, PowerPoint, Excel, Internet, E-mail, advertising</h5>

         <h2>Office and clerical assistance</h2>
         <h5>
          <ul>

         <li> Delivered mail</li>
     
     <li> printed documents</li>

     <li>Organizing stock items advertising and counting the money</li>
          </ul>
         </h5>

          <hr>
        </div>
         <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">

          <h5 class="w3-opacity"><b> <p>Queens borough Community College
The City University of New York, Bayside, NY
Associate in Applied Science, Computer Information Systems (C.I.S), Internet & Info Technology,Sheepshead Bay High-School Brooklyn, NY</p>
 
     <h5>Relevant Coursework<h5> 

     <div class="w3-panel w3-border w3-hover-blue w3-padding"><p>Computer Applications, Microsoft Computer, Creating Smartphone Apps, Wireless Mobile Communications,Networking Fundamentals I, Computer Network Security, Web Technology I: Building and Maintaining Web Sites.</p>
     </div>
 
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Communication</h2>
   
   <ul>
     <p>
    <li>Work with Club Advisor to plan and provide information at club meetings</li>
      </p>
   </ul>
  
<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Leadership</h2>

    <ul>
      <p>
     <li>Vice President – Students for Disabilities Awareness, (SODA CLUB)</li>

     <li>Attended Vice President and Senate meetings regularly</li>
      </p>
    </ul>
   <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>ADVERTISING MANAGER</h2>
     
     <ul>
       <p>
      <li>Students with Disabilities (SSD)
      Designed flyers for upcoming events</li>
       </p>
     </ul>