
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-light-grey">

 <div class="w3-content w3-margin-top" style="max-width:1400px;">

 <app-resume-left></app-resume-left>

 <app-resume-right></app-resume-right>

<app-resume-education></app-resume-education>

<app-footer></app-footer>

 </div>
</div>
