<div class="w3-light-grey">
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
  
      <!-- Left Column -->
      <div class="w3-third">
        <app-resume-left></app-resume-left>
      <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">
          <app-resume-right></app-resume-right>
      <!-- End Right Column -->
      </div>
    
    <!-- End Grid -->
    </div>
  
  <!-- End Page Container -->
  